<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MED STOCK</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse flex-row-reverse"
        id="navbarTogglerDemo02"
      >
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
  
          <li class="nav-item">
            <a class="nav-link active" href="#">Add an item</a>
  {#          <a class="nav-link active" href="{% url 'medicine:create' %}">Add an item</a>#}
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Hi {{user.username}}</a>
          </li>
            <li class="nav-item">
  {#             <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>#}
  
  
              <form method="post" action="{% url 'users:logout' %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Logout</button>
              </form>
  
            </li>
          {% else %}
  
          <li class="nav-item">
            <a href="{% url 'users:login' %}" class="btn btn-sm btn-danger"
              >Sign In</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>